* {
    margin: 0;
    padding: 0;
}

.body {
    background-image: linear-gradient(to right, #f9e8d7, #fae6e7);
}

.row {
    margin-right: 0%;
    padding-right: 0%;
}

.coll {
    margin-right: 0%;
    padding-right: 0%;
}

.colr {
    padding-bottom: 20px;
}

.mainImg {
    width: 100%;
}

.Registration {
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.tabcontent {
    background-color: white;
    padding: 20px;
    border-radius: .4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    margin-bottom: 15px;
}

input,
label {
    display: block;
}

label {
    font-size: 12px;
    font-weight: 600;
}

input[type=text]:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #cf152d !important;
}

.tab {
    overflow: hidden;
    width: 70%;
    background-color: #50312e;
    color: white;
    cursor: pointer;
}

.tab button {
    background-color: inherit;
    float: left;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
    font-size: 10px;
    padding: 5px 0px;
    width: 50%;
}

.tab button:hover {
    opacity: 0.8;
}

.tab button.active {
    /* background-image: linear-gradient(to right, #402f8a, #e21d6f) */
    background-color: #f58b29;
    color: #000;
    font-weight: 600;
}

form input {
    border: 1px solid #f58b29 !important;
}

.reg {
    /* background-image: linear-gradient(to right, #402f8a, #e21d6f); */
    background-color: #cf152d;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: .4em;
}

.reg:hover {
    background-color: #fa2441;
    color: #000;
}

@media only screen and (min-width:1000px) {
    .row {
        margin-right: 0%;
        padding-right: 0%;
    }
    .coll {
        margin-right: 0%;
        padding-right: 0%;
    }
    .colr {
        padding-bottom: 0px;
    }
    .mainImg {
        width: 100%;
    }
    .Registration {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    .tabcontent {
        background-color: white;
        padding: 20px;
        border-radius: .4em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .form-control {
        margin-bottom: 15px;
    }
    input,
    label {
        display: block;
    }
    label {
        font-size: 15px;
    }
    input[type=text]:focus,
    textarea:focus {
        outline: none;
        box-shadow: none;
    }
    .tab {
        overflow: hidden;
        width: 70%;
        background-color: #50312e;
        color: white;
        cursor: pointer;
    }
    .tab button {
        background-color: inherit;
        float: left;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: 0.3s;
        font-size: 15px;
        padding: 5px 0px;
        width: 50%;
    }
    .tab button.active {
        /* background-image: linear-gradient(to right, #402f8a, #e21d6f) */
        background-color: #f58b29;
        color: #000;
        font-weight: 600;
    }
    form input {
        border: 1px solid #f58b29 !important;
    }
    .reg {
        /* background-image: linear-gradient(to right, #402f8a, #e21d6f); */
        background-color: #cf152d;
        border: none;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        cursor: pointer;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: .4em;
    }
}

@media only screen and (min-width:1360px) {
    .row {
        margin-right: 0%;
        padding-right: 0%;
    }
    .coll {
        margin-right: 0%;
        padding-right: 0%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .colr {
        padding-bottom: 20px;
    }
    .mainImg {
        width: 100%;
    }
    .Registration {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    .tabcontent {
        background-color: white;
        padding: 20px;
        border-radius: .4em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .form-control {
        margin-bottom: 15px;
    }
    input,
    label {
        display: block;
    }
    label {
        font-size: 15px;
    }
    input[type=text]:focus,
    textarea:focus {
        outline: none;
        box-shadow: none;
    }
    .tab {
        overflow: hidden;
        width: 70%;
        background-color: #50312e;
        color: white;
        cursor: pointer;
    }
    .tab button {
        background-color: inherit;
        float: left;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: 0.3s;
        font-size: 20px;
        padding: 5px 0px;
        width: 50%;
    }
    .tab button.active {
        /* background-image: linear-gradient(to right, #402f8a, #e21d6f) */
        background-color: #f58b29;
        color: #000;
        font-weight: 600;
    }
    form input {
        border: 1px solid #f58b29 !important;
    }
    .reg {
        /* background-image: linear-gradient(to right, #402f8a, #e21d6f); */
        background-color: #cf152d;
        border: none;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        cursor: pointer;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: .4em;
    }
}